<!-- about -->
<div class="about">
	<div class="intro intro--about">
		<div class="intro__container">
			<h1 class="about__heading animate animate--fade-in">
				{{{title}}}
			</h1>
			<p class="intro__description animate animate--fade-in animate--delay-short">
				{{p1}}
			</p>
			<p class="intro__description intro__description--small animate animate--fade-in animate--delay-medium">
				{{p2}}
			</p>
			<p class="intro__description intro__description--small animate animate--fade-in animate--delay-long">
				{{p3}}
			</p>
			<img data-src="media/{{img}}" class="img-responsive about__img js-about-img" />
			<p class="intro__description intro__description--small animate animate--fade-in animate--delay-very-long">
				{{p4}}
				{{contact}} <a href="mailto:{{email}}" target="_blank" class="link link--about">{{email}}</a>
			</p>
		</div>
	</div>
</div>

<!-- socials footer -->
<footer class="sfi sfi--about animate animate--fade-in-up animate--delay-medium">
	<a href="https://www.behance.net/tk305"  target="_blank" class="sfi__icon" include="../assets/img/behance.svg"></a>	
	<a href="https://www.instagram.com/tdenheld/" target="_blank" class="sfi__icon" include="../assets/img/insta.svg"></a>	
	<a href="https://twitter.com/tdenheld" target="_blank" class="sfi__icon" include="../assets/img/twitter.svg"></a>	
	<a href="https://soundcloud.com/tiborkocsis" target="_blank" class="sfi__icon" include="../assets/img/soundcloud.svg"></a>	
</footer>