<!-- about -->
<section class="about">
	<div class="intro intro--about">
		<div class="intro__container">
			<h1 class="about__heading a a-fi js-split-txt-about">
				{{{about.title}}}
			</h1>
            <h2 class="intro__description intro__description--smaller fw-200 a a-fi a-del-150 mb-1 mb-2-sm">
                {{{about.subtitle}}}
            </h2>
			<p class="intro__description fw-700 a a-fi a-del-250 about__margin">
				{{about.p1}}
			</p>
			<div class="js-scrll-section a a-fi a-del-350 about__margin">
				<p class="intro__description intro__description--small">
					{{about.p2}}
				</p>
			</div>
			<div class="js-scrll-section a a-fi about__margin">
				<p class="intro__description intro__description--small tr-stag js-tr">
					{{about.p3}}
				</p>
			</div>
			<div class="js-scrll-section a a-fi about__margin">
				<img data-src="media/{{about.img}}" class="img-responsive js-about-img tr-si tr-400 js-tr" />
			</div>
			<div class="js-scrll-section a a-fi mb-7">
				<p class="intro__description intro__description--small tr-400 tr-stag js-tr">
					{{{about.p4}}}
				</p>
			</div>
			<div class="js-scrll-section a a-fi about__margin">
                <h3 class="intro__description intro__description--smaller fw-800 mb-0 tr-stag js-tr">
                    {{about.p5.title}}
                </h3>
				<p class="intro__description intro__description--smaller tr-stag js-tr">
					{{{about.p5.description}}}
				</p>
			</div>
		</div>
	</div>
</section>

<!-- socials footer -->
<footer class="sfi sfi--about a a-fi-up a-del-800">
    <a href="https://www.behance.net/tk305" target="_blank" class="sfi__icon"><svg class="icon" xmlns="http://www.w3.org/2000/svg" width="27" height="17" viewBox="0 0 27 17"><path class="a" d="M10.9,7.6a2.9,2.9,0,0,0,2.555-3.166C13.452,1.454,11.361,0,8.713,0H0V16.648H8.713s5.32.166,5.32-4.915c0,0,.232-4.134-3.137-4.134M3.84,2.958H8.713S9.9,2.958,9.9,4.69,9.2,6.674,8.411,6.674H3.84ZM8.489,13.689H3.84V9.239H8.713s1.765-.022,1.765,2.287c0,1.925-1.291,2.144-1.99,2.163"/><path class="a" d="M21.128,4.235c-6.44,0-6.435,6.4-6.435,6.4S14.251,17,21.128,17c0,0,5.729.326,5.729-4.427H23.91s.1,1.79-2.685,1.79a2.718,2.718,0,0,1-2.946-2.9h8.676s.949-7.227-5.827-7.227m-2.883,5a2.985,2.985,0,0,1,2.947-2.565,2.481,2.481,0,0,1,2.553,2.565Z"/><rect class="a" x="17.525" y="0.98" width="6.909" height="2.051"/></svg></a>
    <a href="https://www.instagram.com/tdenheld/" target="_blank" class="sfi__icon"><svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path class="a" d="M17.169,24H6.831A6.838,6.838,0,0,1,0,17.169V6.83A6.838,6.838,0,0,1,6.831,0H17.169A6.839,6.839,0,0,1,24,6.83V17.169A6.839,6.839,0,0,1,17.169,24ZM6.831,2.057A4.779,4.779,0,0,0,2.057,6.83V17.169a4.779,4.779,0,0,0,4.774,4.774H17.169a4.779,4.779,0,0,0,4.774-4.774V6.83a4.779,4.779,0,0,0-4.774-4.773Z"/><path class="a" d="M12,18.145A6.145,6.145,0,1,1,18.145,12,6.152,6.152,0,0,1,12,18.145ZM12,7.912A4.088,4.088,0,1,0,16.088,12,4.093,4.093,0,0,0,12,7.912Z"/><circle class="a" cx="18.409" cy="5.503" r="1.477"/></svg></a>
    <a href="https://twitter.com/tdenheld" target="_blank" class="sfi__icon"><svg class="icon" xmlns="http://www.w3.org/2000/svg" width="22" height="18" viewBox="0 0 22 18"><path class="a" d="M21.392.332a8.98,8.98,0,0,1-2.866,1.1,4.51,4.51,0,0,0-7.808,3.109,4.578,4.578,0,0,0,.116,1.036A12.786,12.786,0,0,1,1.531.831,4.567,4.567,0,0,0,2.928,6.9,4.464,4.464,0,0,1,.884,6.33v.056A4.539,4.539,0,0,0,4.5,10.843,4.44,4.44,0,0,1,3.315,11a4.528,4.528,0,0,1-.85-.081,4.523,4.523,0,0,0,4.217,3.156,9.014,9.014,0,0,1-5.606,1.945A9,9,0,0,1,0,15.959,12.7,12.7,0,0,0,6.919,18,12.8,12.8,0,0,0,19.761,5.07c0-.2,0-.393-.012-.587A9.224,9.224,0,0,0,22,2.13a8.968,8.968,0,0,1-2.592.715A4.55,4.55,0,0,0,21.392.332"/></svg></a>
    <a href="https://soundcloud.com/tiborkocsis" target="_blank" class="sfi__icon"><svg class="icon" xmlns="http://www.w3.org/2000/svg" width="25" height="14" viewBox="0 0 25 14"><path class="a" d="M.849,7.211a.814.814,0,0,0-.6.253A.843.843,0,0,0,0,8.08v3.406a.817.817,0,0,0,.337.711.913.913,0,0,0,.722.171.813.813,0,0,0,.506-.259,1.035,1.035,0,0,0,.145-.622V8.08a.843.843,0,0,0-.249-.616.829.829,0,0,0-.611-.253"/><path class="a" d="M6.212,5.191a.837.837,0,0,0-.616.258.853.853,0,0,0-.256.623v7.247a.581.581,0,0,0,.245.511,1.075,1.075,0,0,0,.628.17,1.03,1.03,0,0,0,.611-.17.588.588,0,0,0,.237-.511V6.072a.862.862,0,0,0-.25-.623.808.808,0,0,0-.6-.258"/><path class="a" d="M3.525,4.146a.814.814,0,0,0-.6.253.824.824,0,0,0-.249.6v7.94a.588.588,0,0,0,.237.511,1.03,1.03,0,0,0,.612.17,1.049,1.049,0,0,0,.622-.17.587.587,0,0,0,.239-.511V5a.858.858,0,0,0-.861-.857"/><path class="a" d="M21.057,6.072a3.783,3.783,0,0,0-1.512.305,6.925,6.925,0,0,0-1.1-3.224A6.854,6.854,0,0,0,15.961.845,6.76,6.76,0,0,0,12.646,0,6.578,6.578,0,0,0,11.1.188q-.361.117-.361.728V13.694a.351.351,0,0,0,.053.165.277.277,0,0,0,.157.129L21.069,14a3.778,3.778,0,0,0,2.774-1.163A3.834,3.834,0,0,0,25,10.03a3.819,3.819,0,0,0-1.157-2.795,3.789,3.789,0,0,0-2.786-1.163"/><path class="a" d="M9.144.493a.829.829,0,0,0-.755.223,1.109,1.109,0,0,0-.373.893V13.354q0,.646.861.645t.861-.645V1.609q0-.986-.593-1.116"/></svg></a>
</footer>