<!-- about -->
<div class="about">
	<div class="intro intro--about">
		<div class="intro__container">
			<h1 class="about__heading a a-fi">
				{{{title}}}
			</h1>
			<p class="intro__description a a-fi a-del-250">
				{{p1}}
			</p>
			<div class="js-scrll-section a a-fi">
				<p class="intro__description intro__description--small tr-stag js-tr">
					{{p2}}
				</p>
			</div>
			<div class="js-scrll-section a a-fi">
				<p class="intro__description intro__description--small tr-stag js-tr">
					{{p3}}
				</p>
			</div>
			<div class="js-scrll-section a a-fi">
				<img data-src="media/{{img}}" class="img-responsive about__img js-about-img tr-si tr-400 js-tr" />
			</div>
			<div class="js-scrll-section a a-fi">
				<p class="intro__description intro__description--small tr-400 tr-stag js-tr">
					{{p4}}
					{{contact}} <a href="mailto:{{email}}" target="_blank" class="link link--about"><b>{{email}}</b></a>
				</p>
			</div>
		</div>
	</div>
</div>

<!-- socials footer -->
<footer class="sfi sfi--about a a-fi-up a-del-500">
	<a href="https://www.behance.net/tk305" target="_blank" class="sfi__icon" include="../assets/img/behance.svg"></a>
	<a href="https://www.instagram.com/tdenheld/" target="_blank" class="sfi__icon" include="../assets/img/insta.svg"></a>
	<a href="https://twitter.com/tdenheld" target="_blank" class="sfi__icon" include="../assets/img/twitter.svg"></a>
	<a href="https://soundcloud.com/tiborkocsis" target="_blank" class="sfi__icon" include="../assets/img/soundcloud.svg"></a>
</footer>