<!-- about -->
<section class="about">
	<div class="intro intro--about">
		<div class="intro__container">
			<h1 class="about__heading a a-fi js-split-txt-about">
				{{{about.title}}}
			</h1>
            <h2 class="intro__description intro__description--smaller fw-200 a a-fi a-del-150 mb-1 mb-2-sm">
                {{{about.subtitle}}}
            </h2>
			<p class="intro__description fw-700 a a-fi a-del-250 about__margin">
				{{about.p1}}
			</p>
			<div class="js-scrll-section a a-fi a-del-350 about__margin">
				<p class="intro__description intro__description--small">
					{{about.p2}}
				</p>
			</div>
			<div class="js-scrll-section a a-fi about__margin">
				<p class="intro__description intro__description--small tr-stag js-tr">
					{{about.p3}}
				</p>
			</div>
			<div class="js-scrll-section a a-fi about__margin">
				<img data-src="media/{{about.img}}" class="img-responsive js-about-img tr-si tr-400 js-tr" />
			</div>
			<div class="js-scrll-section a a-fi mb-7">
				<p class="intro__description intro__description--small tr-400 tr-stag js-tr">
					{{{about.p4}}}
				</p>
			</div>
			<div class="js-scrll-section a a-fi about__margin">
                <h3 class="intro__description intro__description--smaller fw-800 mb-0 tr-stag js-tr">
                    {{about.p5.title}}
                </h3>
				<p class="intro__description intro__description--smaller tr-stag js-tr">
					{{{about.p5.description}}}
				</p>
			</div>
		</div>
	</div>
</section>

<!-- socials footer -->
<footer class="sfi sfi--about a a-fi-up a-del-500">
	<a href="https://www.behance.net/tk305" target="_blank" class="sfi__icon" include="../assets/img/behance.svg"></a>
	<a href="https://www.instagram.com/tdenheld/" target="_blank" class="sfi__icon" include="../assets/img/insta.svg"></a>
	<a href="https://twitter.com/tdenheld" target="_blank" class="sfi__icon" include="../assets/img/twitter.svg"></a>
	<a href="https://soundcloud.com/tiborkocsis" target="_blank" class="sfi__icon" include="../assets/img/soundcloud.svg"></a>
</footer>