<!-- navbar -->
<header class="navbar a a-fi-down a-del-500" id="js-navbar">
    <a href="/">
        <span include="../assets/img/logo-tk305.svg" class="opacity-hover js-logo"></span>
    </a>
    <ul class="navbar__list">
        {{#each navbar}}
        <li class="navbar__list-item navbar__list-item--{{item}} js-nav js-nav--{{item}}">
            <span class="opacity-hover">
                {{item}}
            </span>
        </li>
        {{/each}}
    </ul>
</header>

<!-- animation of lines -->
<div class="lines">
    <div class="lines__line js-line"><span></span></div>
    <div class="lines__line js-line"><span></span></div>
    <div class="lines__line js-line"><span></span></div>
    <div class="lines__line js-line"><span></span></div>
    <div class="lines__line js-line"><span></span></div>
</div>

<!-- animation of little objects -->
<div class="ao js-ao">
    <div class="ao__particle ao--move-up-down ao--v-70"></div>
    <div class="ao__particle ao--move-up-down ao--v-20 ao--delay-2s"></div>
    <div class="ao__particle ao--move-up-down ao--v-22 ao--delay-3s ao--dur-11s"></div>
    <div class="ao__particle ao--move-up-down ao--v-30 ao--delay-5s"></div>
    <div class="ao__particle ao--move-up-down ao--v-50 ao--delay-7s ao--dur-10s"></div>
    <div class="ao__particle ao--move-up-down ao--v-80 ao--delay-6s ao--dur-13s"></div>
</div>

<!-- pages -->
{{#each pages}}
<div id="{{page}}" class="js-page js-page--{{page}}"></div>
{{/each}}