<section class="case case--{{page}}">
	<div class="case__intro-container js-parallax">
		<div class="intro intro--detail">
			<div class="intro__container">
				<img src="media/{{page}}/logo.svg" class="case__logo a a-fi a-del-350" />
				{{#if title}}
				<h1 class="intro__title txt-xxxl a a-fi js-split-txt">{{title}}</h1>
				{{/if}}
				<p class="intro__description txt-l a a-fi a-del-500">{{intro}}</p>
			</div>
			<div class="scroll-down scroll-down--bottom a a-fi-up a-del-500">
				<div class="scroll-down__icon">
					<div class="scroll-down__icon-circle"></div>
				</div>
				<p class="scroll-down__label">scroll down to discover</p>
			</div>
		</div>
	</div>

	<div class="case__content a a-fi">
		<div class="case__hero-container" id="js-hero-{{page}}">
			<img data-src="media/{{hero}}" src="" class="case__hero-img js-loader-hero-{{page}}" />
			{{#if specs}}
			<div class="case__hero-gradient tr-fi tr-650 js-hero-gradient"></div>
			<div class="case__specs">
				<div class="case__specs-grid">
					{{#each specs}}
					<div class="case__specs-item tr-400 tr-stag tr-stag-del js-specs">
						<h3 class="case__specs-title tr-400 tr-stag tr-stag-del js-specs">{{{title}}}</h3>
						<p class="case__specs-description tr-400 tr-stag tr-stag-del js-specs">{{{description}}}</p>
					</div>
					{{/each}}
				</div>
			</div>
			{{/if}}
		</div>
		<div class="container">
			{{#each item}}
			<div class="case__item case__item--{{modifier}} js-scrll-section">
				{{#if text}}
				<div class="case__text-container">
					<div class="case__line tr-400 tr-stag js-tr"></div>
					<h2 class="txt-xl tr-stag tr-400 js-tr">{{text.title}}</h2>
					<p class="case__description tr-400 tr-stag js-tr">{{{text.description}}}</p>
				</div>
				{{/if}}
				{{#if img}}
				<div class="img-container tr-si tr-400 js-tr">
					<img data-src="media/{{img}}" src="" class="img-responsive js-loader-item-{{../page}}" />
				</div>
				{{/if}}
			</div>
			{{/each}}
		</div>
	</div>
</section>

<section class="hbs-work-cf work--case work--{{page}}">
	<div class="container">
		<div class="work-cf js-scrll-section">
			<h2 class="work-cf__title txt-xl tr-si tr-400 js-tr">View more cases</h2>
		</div>
	</div>
</section>