<div class="work">
	<h1 class="work__title">{{work.title}}</h1>
	<div class="work__grid">
		{{#each work.items}}
		<div class="tile tile--animation tile--{{page}} js-case--{{page}} js-scrll-section a a-fi">
			<div class="tile__container tr-si tr-400 js-tr">
				<div class="tile__link"></div>
				<h2 class="tile__title">{{title}}</h2>
				<p class="tile__description">{{description}}</p>
			</div>
		</div>
		{{/each}}
	</div>
</div>